/**
 * @name INITIATE
 * @author made by Ahigger AHIGGER EDITION:tm: fucked up by Ujin
 * @version 1.6 SEX EDITION
 * @invite FUCK U
 * @description Ahigger
 * @source ---- my COCK
 * @website THIS DICK DOT COM
*/
/*
██╗███╗   ██╗██╗████████╗██╗ █████╗ ████████╗███████╗
██║████╗  ██║██║╚══██╔══╝██║██╔══██╗╚══██╔══╝██╔════╝
██║██╔██╗ ██║██║   ██║   ██║███████║   ██║   █████╗  
██║██║╚██╗██║██║   ██║   ██║██╔══██║   ██║   ██╔══╝  
██║██║ ╚████║██║   ██║   ██║██║  ██║   ██║   ███████╗
╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
###################################################################################################
Based on Slate
###################################################################################################
⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡽⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡅⠈⠙⠙⠿⠻⠏⡿⣿⣿⣿⣿⡇
⢀⢀⢀⢀⢀⢀⢀⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢛⣩⣴⣶⣶⣾⣿⣿⣶⣶⣦⣌⡙⢿⣿⡇
⢀⢀⢀⢀⢀⢀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣝⣯⡻⢿⠏⣴⣿⣿⠿⢛⣉⣭⠉⠉⠉⠛⠻⣿⣿⣆⢹⡇
⢀⢀⢀⢀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⢻⣿⣿⡟⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻⣷⣽⡏⣸⣿⣿⢋⣼⣷⣾⣿⣧⢀⢀⢀⠂⣿⣿⣿⢀⡇
⢀⢀⢀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢣⣿⡟⠈⣿⣿⡇⢀⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣉⣉⣉⣸⣿⣿⣿⣿⣿⠆⣀⣤⣾⣿⣿⠋⢀⠇
⢀⢀⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⣸⣿⠇⢀⣿⣿⡇⢀⢀⢀⠈⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢫⣴⣿⣿⡿⠟⠋
⢀⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⢠⣿⡟⢀⢀⣿⣿⡇⢀⢀⠤⢀⠒⠒⠚⠛⠛⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⡟⣡
⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠋⢀⢠⣿⡟⢀⢀⢀⣿⣿⢀⢀⢀⢀⢀⢀⣀⡀⢀⢀⢀⢀⢀⠈⠙⠻⠿⣿⣿⣿⣿⣿⣿⣿⣧⣉⣉⣡⣿⡄
⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⢀⣠⡿⠋⢀⢀⢀⢰⣿⠇⢀⢀⠤⠂⢀⣀⣤⣤⣤⣤⣥⣀⢀⢀⢀⢀⢀⢻⣿⣿⣿⣿⣿⣿⠟⣛⣛⣛⢻⣧
⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠉⢀⡼⠋⢀⢀⢀⢀⢀⣼⡟⢀⢀⢀⢁⣴⡿⢟⣯⣵⣤⣄⡉⠙⢿⣶⡂⢀⢀⠈⣿⣿⣿⣿⣿⣿⢀⣿⣿⣿⢸⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⢀⠤⠮⠄⢀⢀⢀⢀⢀⢠⠟⢀⢀⢀⠠⣻⠋⢀⠉⢻⣿⣿⣿⣿⣄⢀⠙⣷⡤⢀⢀⢹⣿⣿⣿⣿⣿⣄⣛⣛⣛⣸⣿⡄  ███╗░░██╗██╗░██████╗░░██████╗░███████╗██████╗░
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠐⢀⣠⣤⣶⣦⣤⣈⢀⢀⢀⠊⢀⢀⢀⢀⢀⠁⢀⢀⣀⣄⣼⣿⣿⣿⣿⢀⢀⢹⡇⢀⢀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇  ████╗░██║██║██╔════╝░██╔════╝░██╔════╝██╔══██╗
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠣⢀⣠⡾⠛⣩⣭⣭⡙⠃⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠘⣿⣿⠛⠛⠉⣇⣸⢀⢀⠟⠁⢀⢀⣸⣿⣿⣿⣿⡿⠿⣿⣿⣿⣿⣿⣿⡄ ██╔██╗██║██║██║░░██╗░██║░░██╗░█████╗░░██████╔╝ 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⠃⣾⠏⢀⠈⠙⢿⣿⣿⣆⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠙⢿⡦⠤⠴⠿⠇⢀⢀⢀⢀⢀⢀⣿⣿⣿⣿⣿⣀⢀⠘⣿⣿⣿⣿⣿⣷ ██║╚████║██║██║░░╚██╗██║░░╚██╗██╔══╝░░██╔══██╗
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⡏⢀⢰⣤⣴⣿⣿⠿⢿⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣼⣿⣿⣿⣿⣿⡄⠈⢀⢸⣿⣿⣿⣿⣿⣧██║░╚███║██║╚██████╔╝╚██████╔╝███████╗██║░░██║
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡃⠸⣷⢀⠘⣿⣿⡉⠉⢀⣼⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣼⢿⣿⣿⣿⣿⣿⣷⢄⠐⢸⣿⣿⣿⣿⣿⣿╚═╝░░╚══╝╚═╝░╚═════╝░░╚═════╝░╚══════╝╚═╝░░╚═╝  :)
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⢀⠻⠧⡀⠈⠛⠷⠚⠉⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⡠⠚⢁⣾⣿⡿⠃⢻⣿⣿⡸⢀⣼⣿⣿⣿⣿⣿⣿⣿⡆
⢸⣿⡽⣿⣿⣿⣿⣿⣿⣿⡄⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣠⣿⡿⠋⢀⢀⢘⣿⣿⡇⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀
⢀⢿⣇⠘⢿⣿⣿⣿⣿⣿⣿⡄⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣠⡾⠟⠋⢀⢀⢀⠈⠁⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⢀⠘⣿⡬⢀⠙⢿⣿⣿⣿⣿⣿⣆⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠉⢀⢀⢀⢀⢀⢀⣤⣤⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁
⢀⢀⠚⢿⡄⡀⠈⠉⠻⢿⣿⣿⣿⣷⣦⣄⣀⡀⢀⡀⢀⢀⢀⢀⢀⢀⣤⠔⢀⠉⠉⠉⢑⠆⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⡫⠂
⣤⢀⠂⢸⢿⣧⢀⢀⢀⣼⣿⣿⡟⠝⠉⠉⢀⢀⢀⢀⢀⢀⢀⢀⢀⠘⠇⢀⢀⢀⢀⠈⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠠⢺⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⠅⢀⢀⡀
⣿⡄⡆⢰⠐⡟⢿⡇⣤⣿⣿⣿⣷⣄⢀⡀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠔⢀⢸⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠛⣉⠧⢬⣵⣆⡀⠁
⣿⣾⣿⣸⣪⣿⣽⢠⣿⣿⣿⣿⣿⣿⣿⣶⣄⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠄⢀⢀⢀⠈⡉⠽⢙⣛⣿⣿⡿⣽⡖⠂⣿⣿⣆⢀⠈⠉⠛⠇
⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⣀⡀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⡀⠔⠁⢀⢀⢀⢀⢀⠱⣾⣷⣿⡿⣫⣾⣿⠁⢀⣿⣿⣿⣷⡀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣤⣤⣤⣀⣀⢀⢀⣀⣀⣀⠠⠐⠈⢀⢀⢀⢀⢀⢀⢀⢀⢀⠈⠻⠯⣾⣿⣿⠃⢀⢀⣿⣿⣿⣿⣿⣦⡀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣫⣥⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠈⠉⣶⣦⠼⠿⣿⣿⣿⣿⣿⣿⡆
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⢛⣛⣛⣿⣿⣿⣟⠛⢛⣋⣩⣟⣻⣿⡿⠣⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣿⣿⢀⢀⢀⢀⢀⠉⠉⠉⠁
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⠿⢛⠫⠐⣽⣿⣿⣿⣿⠟⠁⢀⢀⢃⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡶⠏⢀⢀⣼⠿⠛⣹⣿⠏⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⡀⢀⠐⠈⢀⢀⢀⣿⣿⡄
⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⢀⠁⢀⠁⢀⢀⢀⠉⠉⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠁⢀⢀⢀⢀⢀⢀⢀⠈⠉⠁
██╗░░██╗██╗██╗░░░░░██╗░░░░░  ░█████╗░██╗░░░░░██╗░░░░░  ████████╗██╗░░██╗███████╗
██║░██╔╝██║██║░░░░░██║░░░░░  ██╔══██╗██║░░░░░██║░░░░░  ╚══██╔══╝██║░░██║██╔════╝
█████═╝░██║██║░░░░░██║░░░░░  ███████║██║░░░░░██║░░░░░  ░░░██║░░░███████║█████╗░░
██╔═██╗░██║██║░░░░░██║░░░░░  ██╔══██║██║░░░░░██║░░░░░  ░░░██║░░░██╔══██║██╔══╝░░
██║░╚██╗██║███████╗███████╗  ██║░░██║███████╗███████╗  ░░░██║░░░██║░░██║███████╗
╚═╝░░╚═╝╚═╝╚══════╝╚══════╝  ╚═╝░░╚═╝╚══════╝╚══════╝  ░░░╚═╝░░░╚═╝░░╚═╝╚══════╝
░██████╗░░█████╗░██╗░░░██╗░██████╗  ███████╗██████╗░██╗████████╗██╗░█████╗░███╗░░██╗██╗
██╔════╝░██╔══██╗╚██╗░██╔╝██╔════╝  ██╔════╝██╔══██╗██║╚══██╔══╝██║██╔══██╗████╗░██║██║
██║░░██╗░███████║░╚████╔╝░╚█████╗░  █████╗░░██║░░██║██║░░░██║░░░██║██║░░██║██╔██╗██║██║
██║░░╚██╗██╔══██║░░╚██╔╝░░░╚═══██╗  ██╔══╝░░██║░░██║██║░░░██║░░░██║██║░░██║██║╚████║╚═╝
╚██████╔╝██║░░██║░░░██║░░░██████╔╝  ███████╗██████╔╝██║░░░██║░░░██║╚█████╔╝██║░╚███║██╗
░╚═════╝░╚═╝░░╚═╝░░░╚═╝░░░╚═════╝░  ╚══════╝╚═════╝░╚═╝░░░╚═╝░░░╚═╝░╚════╝░╚═╝░░╚══╝╚═╝
Based on Slate this time, because I got lazy updating the old one
*/
@import url("https://39hige1.github.io/initiatetheme/fucknme.css?version=fuckmeee");
/*inicord Palette*/
html:root {
  --ini-palette: "ÒuÓ";
  --toolbar-background-alt:#31283a;
  --toolbar-background:#3e314a;
  --toolbar-background-hover:#3c1254;
  --toolbar-background-active:#3c1254;
  --toolbar-search-background:rgba(0,0,0,0.25);
  --toolbar-search-border:rgba(255,255,255,0.2);
  --toolbar-border:var(--toolbar-background);
  --toolbar-text-muted:#c0c0c0;
  --toolbar-text-normal:#e6e6e6;
  --font-family:'quicksand';
  --font-size: 13px;

}
:root {
  /*Primary Colors*/
  --accent: 60, 18, 84;
  --link-colour: 0, 255, 237;
  --background: #1d1723;
  --background-alt: #1d1723;
  --background-light: #1d1723;
  --background-dark: rgba(120, 89, 204, 0.17);
  --base-border: transparent;
  --text-focus: #ff4747;
  --link: #ffc342 !important;
  

  /*Server List*/
  --server-icon-size: 45px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;


}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
