/**
 * @name SlaATeINI UJIN 2
 * @author STOLEN BY EUGEN made by Ahigger AHIGGER EDITION:tm:
 * @version 1.6 SEX EDITION
 * @invite FUCK U
 * @description Ahigger
 * @source ---- my COCK
 * @website THIS DICK DOT COM
*/
/*

██╗███╗   ██╗██╗████████╗██╗ █████╗ ████████╗███████╗
██║████╗  ██║██║╚══██╔══╝██║██╔══██╗╚══██╔══╝██╔════╝
██║██╔██╗ ██║██║   ██║   ██║███████║   ██║   █████╗  
██║██║╚██╗██║██║   ██║   ██║██╔══██║   ██║   ██╔══╝  
██║██║ ╚████║██║   ██║   ██║██║  ██║   ██║   ███████╗
╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
###################################################################################################
Based on Slate
###################################################################################################

⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡽⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡅⠈⠙⠙⠿⠻⠏⡿⣿⣿⣿⣿⡇
⢀⢀⢀⢀⢀⢀⢀⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢛⣩⣴⣶⣶⣾⣿⣿⣶⣶⣦⣌⡙⢿⣿⡇
⢀⢀⢀⢀⢀⢀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣝⣯⡻⢿⠏⣴⣿⣿⠿⢛⣉⣭⠉⠉⠉⠛⠻⣿⣿⣆⢹⡇
⢀⢀⢀⢀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⢻⣿⣿⡟⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻⣷⣽⡏⣸⣿⣿⢋⣼⣷⣾⣿⣧⢀⢀⢀⠂⣿⣿⣿⢀⡇
⢀⢀⢀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢣⣿⡟⠈⣿⣿⡇⢀⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣉⣉⣉⣸⣿⣿⣿⣿⣿⠆⣀⣤⣾⣿⣿⠋⢀⠇
⢀⢀⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⣸⣿⠇⢀⣿⣿⡇⢀⢀⢀⠈⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢫⣴⣿⣿⡿⠟⠋
⢀⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⢠⣿⡟⢀⢀⣿⣿⡇⢀⢀⠤⢀⠒⠒⠚⠛⠛⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⡟⣡
⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠋⢀⢠⣿⡟⢀⢀⢀⣿⣿⢀⢀⢀⢀⢀⢀⣀⡀⢀⢀⢀⢀⢀⠈⠙⠻⠿⣿⣿⣿⣿⣿⣿⣿⣧⣉⣉⣡⣿⡄
⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⢀⣠⡿⠋⢀⢀⢀⢰⣿⠇⢀⢀⠤⠂⢀⣀⣤⣤⣤⣤⣥⣀⢀⢀⢀⢀⢀⢻⣿⣿⣿⣿⣿⣿⠟⣛⣛⣛⢻⣧
⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠉⢀⡼⠋⢀⢀⢀⢀⢀⣼⡟⢀⢀⢀⢁⣴⡿⢟⣯⣵⣤⣄⡉⠙⢿⣶⡂⢀⢀⠈⣿⣿⣿⣿⣿⣿⢀⣿⣿⣿⢸⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⢀⠤⠮⠄⢀⢀⢀⢀⢀⢠⠟⢀⢀⢀⠠⣻⠋⢀⠉⢻⣿⣿⣿⣿⣄⢀⠙⣷⡤⢀⢀⢹⣿⣿⣿⣿⣿⣄⣛⣛⣛⣸⣿⡄  ███╗░░██╗██╗░██████╗░░██████╗░███████╗██████╗░
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠐⢀⣠⣤⣶⣦⣤⣈⢀⢀⢀⠊⢀⢀⢀⢀⢀⠁⢀⢀⣀⣄⣼⣿⣿⣿⣿⢀⢀⢹⡇⢀⢀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇  ████╗░██║██║██╔════╝░██╔════╝░██╔════╝██╔══██╗
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠣⢀⣠⡾⠛⣩⣭⣭⡙⠃⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠘⣿⣿⠛⠛⠉⣇⣸⢀⢀⠟⠁⢀⢀⣸⣿⣿⣿⣿⡿⠿⣿⣿⣿⣿⣿⣿⡄ ██╔██╗██║██║██║░░██╗░██║░░██╗░█████╗░░██████╔╝ 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⠃⣾⠏⢀⠈⠙⢿⣿⣿⣆⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠙⢿⡦⠤⠴⠿⠇⢀⢀⢀⢀⢀⢀⣿⣿⣿⣿⣿⣀⢀⠘⣿⣿⣿⣿⣿⣷ ██║╚████║██║██║░░╚██╗██║░░╚██╗██╔══╝░░██╔══██╗
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⡏⢀⢰⣤⣴⣿⣿⠿⢿⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣼⣿⣿⣿⣿⣿⡄⠈⢀⢸⣿⣿⣿⣿⣿⣧██║░╚███║██║╚██████╔╝╚██████╔╝███████╗██║░░██║
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡃⠸⣷⢀⠘⣿⣿⡉⠉⢀⣼⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣼⢿⣿⣿⣿⣿⣿⣷⢄⠐⢸⣿⣿⣿⣿⣿⣿╚═╝░░╚══╝╚═╝░╚═════╝░░╚═════╝░╚══════╝╚═╝░░╚═╝  :)
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⢀⠻⠧⡀⠈⠛⠷⠚⠉⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⡠⠚⢁⣾⣿⡿⠃⢻⣿⣿⡸⢀⣼⣿⣿⣿⣿⣿⣿⣿⡆
⢸⣿⡽⣿⣿⣿⣿⣿⣿⣿⡄⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣠⣿⡿⠋⢀⢀⢘⣿⣿⡇⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀
⢀⢿⣇⠘⢿⣿⣿⣿⣿⣿⣿⡄⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣠⡾⠟⠋⢀⢀⢀⠈⠁⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⢀⠘⣿⡬⢀⠙⢿⣿⣿⣿⣿⣿⣆⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠉⢀⢀⢀⢀⢀⢀⣤⣤⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁
⢀⢀⠚⢿⡄⡀⠈⠉⠻⢿⣿⣿⣿⣷⣦⣄⣀⡀⢀⡀⢀⢀⢀⢀⢀⢀⣤⠔⢀⠉⠉⠉⢑⠆⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⡫⠂
⣤⢀⠂⢸⢿⣧⢀⢀⢀⣼⣿⣿⡟⠝⠉⠉⢀⢀⢀⢀⢀⢀⢀⢀⢀⠘⠇⢀⢀⢀⢀⠈⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠠⢺⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⠅⢀⢀⡀
⣿⡄⡆⢰⠐⡟⢿⡇⣤⣿⣿⣿⣷⣄⢀⡀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠔⢀⢸⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠛⣉⠧⢬⣵⣆⡀⠁
⣿⣾⣿⣸⣪⣿⣽⢠⣿⣿⣿⣿⣿⣿⣿⣶⣄⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠄⢀⢀⢀⠈⡉⠽⢙⣛⣿⣿⡿⣽⡖⠂⣿⣿⣆⢀⠈⠉⠛⠇
⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⣀⡀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⡀⠔⠁⢀⢀⢀⢀⢀⠱⣾⣷⣿⡿⣫⣾⣿⠁⢀⣿⣿⣿⣷⡀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣤⣤⣤⣀⣀⢀⢀⣀⣀⣀⠠⠐⠈⢀⢀⢀⢀⢀⢀⢀⢀⢀⠈⠻⠯⣾⣿⣿⠃⢀⢀⣿⣿⣿⣿⣿⣦⡀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣫⣥⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠈⠉⣶⣦⠼⠿⣿⣿⣿⣿⣿⣿⡆
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⢛⣛⣛⣿⣿⣿⣟⠛⢛⣋⣩⣟⣻⣿⡿⠣⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣿⣿⢀⢀⢀⢀⢀⠉⠉⠉⠁
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⠿⢛⠫⠐⣽⣿⣿⣿⣿⠟⠁⢀⢀⢃⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡶⠏⢀⢀⣼⠿⠛⣹⣿⠏⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⡀⢀⠐⠈⢀⢀⢀⣿⣿⡄
⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⢀⠁⢀⠁⢀⢀⢀⠉⠉⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⢀⠁⢀⢀⢀⢀⢀⢀⢀⠈⠉⠁

██╗░░██╗██╗██╗░░░░░██╗░░░░░  ░█████╗░██╗░░░░░██╗░░░░░  ████████╗██╗░░██╗███████╗
██║░██╔╝██║██║░░░░░██║░░░░░  ██╔══██╗██║░░░░░██║░░░░░  ╚══██╔══╝██║░░██║██╔════╝
█████═╝░██║██║░░░░░██║░░░░░  ███████║██║░░░░░██║░░░░░  ░░░██║░░░███████║█████╗░░
██╔═██╗░██║██║░░░░░██║░░░░░  ██╔══██║██║░░░░░██║░░░░░  ░░░██║░░░██╔══██║██╔══╝░░
██║░╚██╗██║███████╗███████╗  ██║░░██║███████╗███████╗  ░░░██║░░░██║░░██║███████╗
╚═╝░░╚═╝╚═╝╚══════╝╚══════╝  ╚═╝░░╚═╝╚══════╝╚══════╝  ░░░╚═╝░░░╚═╝░░╚═╝╚══════╝

░██████╗░░█████╗░██╗░░░██╗░██████╗  ███████╗██████╗░██╗████████╗██╗░█████╗░███╗░░██╗██╗
██╔════╝░██╔══██╗╚██╗░██╔╝██╔════╝  ██╔════╝██╔══██╗██║╚══██╔══╝██║██╔══██╗████╗░██║██║
██║░░██╗░███████║░╚████╔╝░╚█████╗░  █████╗░░██║░░██║██║░░░██║░░░██║██║░░██║██╔██╗██║██║
██║░░╚██╗██╔══██║░░╚██╔╝░░░╚═══██╗  ██╔══╝░░██║░░██║██║░░░██║░░░██║██║░░██║██║╚████║╚═╝
╚██████╔╝██║░░██║░░░██║░░░██████╔╝  ███████╗██████╔╝██║░░░██║░░░██║╚█████╔╝██║░╚███║██╗
░╚═════╝░╚═╝░░╚═╝░░░╚═╝░░░╚═════╝░  ╚══════╝╚═════╝░╚═╝░░░╚═╝░░░╚═╝░╚════╝░╚═╝░░╚══╝╚═╝
*/
@import url("https://39hige1.github.io/initiatetheme/fucknme.css?version=fuckmeee");
/*inicord Palette*/
html:root {
  --slate-palette: "INIcord";
  --toolbar-background-alt:#31283a;
  --toolbar-background:#3e314a;
  --toolbar-background-hover:#3c1254;
  --toolbar-background-active:#3c1254;
  --toolbar-search-background:rgba(0,0,0,0.25);
  --toolbar-search-border:rgba(255,255,255,0.2);
  --toolbar-border:var(--toolbar-background);
  --toolbar-text-muted:#c0c0c0;
  --toolbar-text-normal:#e6e6e6;
  --font-family:'quicksand';
  --font-size: 13px;

}
:root {
  /*Primary Colors*/
  --accent: 60, 18, 84;
  --link-colour: 0, 255, 237;
  --background: #1d1723;
  --background-alt: #1d1723;
  --background-light: #1d1723;
  --background-dark: rgba(120, 89, 204, 0.17);
  --base-border: transparent;
  --text-focus: #ff4747;
  --link: #ffc342 !important;
  

  /*Server List*/
  --server-icon-size: 45px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;


}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/



.channel-2QD9_O > .layout-2DM8Md .avatar-3uk_u9::after {
    content: "@";
    position: relative;
    color: #698dcc;
    left: 87%;
    top: 0%;
    font-weight: bolder;
}
.avatar-3uk_u9 {
    margin-right: 32px !important;
}
#app-mount .wrapper-2a6GCs.cozy-3raOZG .emoji.jumboable {
    width: none;
    height: none;
}
#app-mount .wrapper-2a6GCs.cozy-3raOZG .emoji {
  width: none;
    height: none;
}
.emoji.jumboable {
    width: 5rem;
    height: 5rem;
    min-height: 3rem;
}
.mentioned-xhSam7 .messageContent-2qWWxC {
  color: #ff4747;
}
.mentioned-xhSam7 .messageContent-2qWWxC::after {
    content: '';
    position: absolute;
    top: 28px;
    left: 41px;
    width: calc(100% - 79px);
    height: calc(100% - 30px);
    z-index: -1;
    background: var(--background-mentioned);
    border-left: 4px solid #ff4747;
}
#app-mount .anchor-3Z-8Bb:not(.guildsError-b7zR5H), .fakeLink-26oLcc, .mentioned-xhSam7 .mention  {
  color: var(--link);
}
.wrapper-3WhCwL {
  color: var(--link) !important;
}
#app-mount .sidebar-2K8pFh .content-1x5b-n svg {
  color:#7859cc !important;
}
